[Desktop Entry]
Type=Application
Version=1.5
Name=Goal UP
Comment=A Simple To Do List application
Exec=goal-up
Icon=icon
Terminal=false
Type=Application
Categories=Utility;GTK;
