[Desktop Entry]
Type=Application
Version=1.5
Name=Goal UP
Comment=A Simple To Do List application
Exec=goal-up
Icon=goal-up
Terminal=false
Categories=Utility;GTK;
